body {
    font-family: sans-serif;
    margin: 0;
  }

header {
    max-height: 150px;
    background: lightgrey;
    display: block;
}

img {
    max-height: 100%;
    max-width: 100%;
    padding-right:15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.logo {
    max-height: 15vh;
    max-width: 15vh;
    display: block;

}

.main {
    height: calc(100vh - 150px);
}

.side-panel {
    background: rgb(167, 167, 167);
    flex-grow: 1;
    max-width: 230px;
    max-height: 100vh;
    order:1;
}

@media (max-width: 600px) {
    .side-panel {
        display: none;
    }
    .logo {
        margin:auto;
    }
}

.flex_container {
    display: flex;
}

.flex_item_large {
    flex: 75%;
    order: 2;
}

.flex_item_small {
    flex: 25%;
    order: 1;
}

@media (max-width: 600px) {
    .flex_item_large {
        flex:100%;
    }
    .flex_item_small {
        display: none;
    }
}


.tabs{
    display:block;
    height: 10%;
    width:100%;
    border: lightblue dotted;
    
}

.legend {
    display:block;
    border: lightcoral dotted;
    height: 75%;
    width: 100%;
}

.info {
    display:block;
    max-height: 125px;
    border: rgb(0, 0, 0) dotted;
    height: 15%;
    width: 100%;
}

.map-area {
    height: calc(100vh - 150px);
    order: 2;
}

#map {
    height: calc(100vh - 150px);
    width: auto;
}

footer {
    display: none;
}